@use '../../../responsiveStyles.module.scss';

.hamburgerMenu {
  position: absolute;
  display: inline-block;
  width: 48px;
  height: 39px;
  margin: 0 2vw;
  top: 20px;
  right: 20px;
}

.hamburgerMenu input {
  opacity: 0;
  width: 0;
  height: 0;
}

.burgerlines {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburgerMenu .line {
  display: block;
  height: 6px;
  width: 100%;
  border-radius: 10px;
  background: white;
  transition: 0.3s ease-in-out;
}

.isOpen .top {
  transform: rotate(-45deg);
  margin-top: 19px;
}

.isOpen .mid {
  transform: rotate(45deg);
  margin-top: -12px;
}

.isOpen .bot {
  opacity: 0;
}
