@use '../../../responsiveStyles.module.scss';
@use '../../../themeVariables.module.scss';

.singleProject {
  margin: 50px 20% 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projectInfo {
  position: relative;
  position: relative;
  align-self: flex-start;
  padding-left: 2.5%;
}

.projectTab {
  width: 100%;
}
.imgContainer {
  overflow: hidden;
  max-height: 400px;
  width: 100%;
  width: 95%;
}

.projectInfo::after {
  display: block;
  width: 80%;
  position: absolute;
  background-color: themeVariables.$main;
  height: 2px;
  content: '';
  top: 45%;
}
.singleProject:hover {
  .projectInfo::after {
    transform-origin: left;
    animation: 0.7s drawAnimation linear 1;
  }
}

.projectName {
  font-size: 1.2rem;
}

.description {
  position: relative;
}
@keyframes drawAnimation {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
