@use '../../../responsiveStyles.module.scss';
@use '../../../themeVariables.module.scss';

.singleProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  color: white;
  height: 53%;
}

.singleProject::before {
  content: '';
  width: 90%;
  height: 3px;
  background-color: white;
  display: block;
  margin-bottom: 15px;
}

.projectInfo {
  position: relative;
  padding-left: 2.5%;
}

.projectName {
  font-size: 1.5rem;
}

.description {
  position: relative;
  font-size: 1.2rem;
}
