@use '../../../responsiveStyles.module.scss';
@use '../../../themeVariables.module.scss';

.singleProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.projectInfo {
  position: relative;
  align-self: flex-start;
  padding-left: 2.5%;
  z-index: 2;
  color: black;
}

.imgContainer {
  max-height: 400px;
  width: 95%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.projectInfo::after {
  display: block;
  width: 80%;
  position: absolute;
  background-color: black;
  height: 2px;
  content: '';
  top: 45%;
}
.singleProject:hover {
  .projectInfo::after {
    transform-origin: left;
    animation: 0.7s drawAnimation linear 1;
  }
}

.projectName {
  font-size: 1.5rem;
}

.description {
  position: relative;
  font-size: 1.2rem;
}
@keyframes drawAnimation {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.singleProjectOutsideColor {
  position: absolute;
  top: -50px;
  left: -50vw;
  width: 200vw;
  background-color: white;
}
