@use '../../../responsiveStyles.module.scss';
@use '../../../themeVariables.module.scss';

.projects {
  overflow: hidden;
  padding-top: 50px;
  h2 {
    padding: 0 5%;
    padding-bottom: 40px;
    position: relative;
    z-index: 2;
  }
}

.projectsFrame {
  min-height: 110vh;
  width: 100%;
  position: relative;
  padding: 104px 17px 27px 22px;
  top: -50px;
}

.projectsFrame::before {
  clip-path: polygon(98% 4%, 98% 100%, 2% 98%, 2% 10%);
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  z-index: 2;
}

.projectsFrame::after {
  clip-path: polygon(97% 7%, 95% 96%, 6% 97%, 5% 15%);
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  z-index: 2;
}
