.textBox {
  border: 2px solid red;
  clip-path: polygon(11% 49%, 6% 60%, 0 31%, 6% 43%, 10% 24%, 18% 35%, 21% 16%, 97% 16%, 100% 78%, 24% 64%, 19% 71%);
  background-color: black;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textBox::before {
  clip-path: polygon(11% 46%, 6% 57%, 0 32%, 6% 45%, 10% 26%, 18% 36%, 21% 17%, 97% 18%, 98% 75%, 22% 62%, 19% 69%);
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
}

.textBox::after {
  clip-path: polygon(10% 43%, 6% 55%, 2% 37%, 6% 46%, 10% 30%, 18% 38%, 22% 19%, 95% 20%, 97% 72%, 22% 61%, 19% 66%);
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
}

.text {
  color: white;
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  font-weight: 600;
  padding-top: 89px;
  padding-left: 167px;
  padding-right: 45px;
  padding-bottom: 153px;
}
