.textBoxHorizontalVersion {
  clip-path: polygon(11% 49%, 6% 60%, 0 31%, 6% 43%, 10% 24%, 18% 35%, 21% 16%, 97% 16%, 100% 78%, 24% 64%, 19% 71%);
  background-color: black;
  height: 400px;
  position: relative;
  top: -55px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 5;
}

.textBoxHorizontalVersion::before {
  clip-path: polygon(11% 46%, 6% 57%, 0 32%, 6% 45%, 10% 26%, 18% 36%, 21% 17%, 97% 18%, 98% 75%, 22% 62%, 19% 69%);
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
}

.textBoxHorizontalVersion::after {
  clip-path: polygon(10% 43%, 6% 55%, 2% 37%, 6% 46%, 10% 30%, 18% 38%, 22% 19%, 95% 20%, 97% 72%, 22% 61%, 19% 66%);
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
}

.text {
  color: white;
  position: relative;
  z-index: 3;
  height: 100%;
  width: 100%;
  font-weight: 600;
  padding-top: 131px;
  padding-left: 60px;
  padding-right: 34px;
  padding-bottom: 50px;
  overflow-wrap: break-word;
}

.textBoxVerticalVersion {
  clip-path: polygon(2% 44%, 19% 33%, 1% 24%, 19% 7%, 14% 21%, 38% 25%, 38% 38%, 95% 39%, 100% 100%, 21% 89%, 15% 96%);
  background-color: black;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -15px;
}

.textBoxVerticalVersion::before {
  clip-path: polygon(5% 45%, 23% 33%, 4% 24%, 19% 7%, 11% 22%, 36% 27%, 37% 41%, 93% 41%, 97% 98%, 20% 87%, 17% 92%);
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  z-index: 2;
}

.textBoxVerticalVersion::after {
  clip-path: polygon(8% 47%, 24% 33%, 6% 24%, 16% 11%, 9% 23%, 33% 28%, 36% 44%, 90% 42%, 95% 96%, 20% 84%, 18% 88%);
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  z-index: 2;
}

.question {
  clip-path: polygon(80% 10%, 80% 25%, 100% 50%, 80% 38%, 77% 48%, 2% 44%, 0 7%);
  background-color: black;
  height: 200px;
  width: 285px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question::before {
  clip-path: polygon(78% 12%, 78% 26%, 100% 50%, 78% 34%, 76% 46%, 5% 42%, 1% 8%);
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  z-index: 3;
}

.questionBot {
  position: absolute;
  transform: rotateX(180deg);
}

.questions {
  display: flex;
  flex-direction: column;
}

.questionText {
  color: black;
  position: relative;
  z-index: 3;
  height: 100%;
  width: 100%;
  font-weight: 600;
  padding-top: 25px;
  padding-left: 13px;
  padding-right: 65px;
  padding-bottom: 115px;
  overflow-wrap: break-word;
}

.questionTextBot {
  padding-top: 115px;
  padding-bottom: 25px;
  transform: rotateX(180deg);
}

.question:hover {
  cursor: pointer;
  &::before {
    animation: animateHover 2s infinite;
  }
}

@keyframes animateHover {
  0% {
    clip-path: polygon(78% 12%, 78% 26%, 100% 50%, 78% 34%, 76% 46%, 5% 42%, 1% 8%);
  }
  25% {
    clip-path: polygon(77% 12%, 78% 26%, 100% 50%, 77% 34%, 75% 46%, 4% 42%, 2% 8%);
  }
  50% {
    clip-path: polygon(78% 12%, 78% 26%, 100% 50%, 78% 34%, 76% 46%, 5% 42%, 1% 8%);
  }
  75% {
    clip-path: polygon(77% 13%, 78% 26%, 100% 50%, 77% 34%, 75% 45%, 4% 41%, 2% 10%);
  }
  100% {
    clip-path: polygon(78% 12%, 78% 26%, 100% 50%, 78% 34%, 76% 46%, 5% 42%, 1% 8%);
  }
}
