.navbar {
  position: sticky;
  top: 0px;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: black;
}

.navSection {
  position: relative;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  &::after {
    content: '';
    position: absolute;
    top: 75%;
    background-color: red;
    width: 80%;
    height: 2px;
    border-radius: 50%;
    transform: scale(0);
  }
}

.navList {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.navSection:hover {
  &::after {
    transform: scale(1);
    transform-origin: 50%;
    animation: growAnimation 0.2s linear;
  }
}

@keyframes growAnimation {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
