@use '../../../responsiveStyles.module.scss';
@use '../../../themeVariables.module.scss';

.contactForm {
  display: flex;
  flex-direction: column;

  label {
    margin: 10px 0;
  }
}

.formButton {
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  border: none;
  margin-left: auto;
  cursor: pointer;
  transition: all 1s;
}

.formButton:hover {
  background-color: themeVariables.$success;
}

.validationError {
  margin-top: 5px;
  color: themeVariables.$error;
}
