@use '../../../responsiveStyles.module.scss';
@use '../../../themeVariables.module.scss';

.contactForm {
  display: flex;
  flex-direction: column;
  position: relative;

  label {
    margin: 10px 0;
  }
}

.formButton {
  width: 40%;
  padding: 20px;
  margin-top: 20px;
  border: none;
  margin-left: auto;
  cursor: pointer;
  transition: all 1s;
  clip-path: polygon(19% 0, 89% 0, 81% 100%, 11% 100%);
}

.formButton:hover {
  background-color: white;
  animation: animateHoverBg 2s infinite;
}

.validationError {
  margin-top: 5px;
  color: themeVariables.$error;
}

textarea {
  resize: none;
}

@keyframes animateHoverBg {
  0% {
    clip-path: polygon(19% 0, 89% 0, 81% 100%, 11% 100%);
  }
  20% {
    clip-path: polygon(19% 0, 90% 0, 80% 98%, 9% 100%);
  }
  40% {
    clip-path: polygon(21% 5%, 92% 0, 79% 95%, 10% 94%);
  }
  60% {
    clip-path: polygon(17% 3%, 87% 0, 80% 100%, 12% 100%);
  }
  80% {
    clip-path: polygon(18% 4%, 90% 0, 78% 100%, 10% 100%);
  }

  100% {
    clip-path: polygon(19% 0, 89% 0, 81% 100%, 11% 100%);
  }
}
