@use '../../../responsiveStyles.module.scss';

.contactForm {
  display: flex;
  flex-direction: column;

  label {
    margin: 10px 0;
  }
}

.formButton {
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  border: none;
  margin-left: auto;
  cursor: pointer;
  transition: all 1s;
}

.formButton:hover {
  background-color: rgb(104, 255, 124);
}

.validationError {
  margin-top: 5px;
  color: rgb(214, 73, 73);
}
