.comicDialogOpener {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 3;
}

.text {
  overflow: hidden;
  margin-top: 0;
  height: 100%;
  color: white;
  position: relative;
  z-index: 3;
  height: 100%;
  width: 100%;
  font-weight: 600;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 52px;
  padding-bottom: 120px;
  overflow-wrap: break-word;
  transform: rotate(180deg);
}

.dialogGreetings {
  clip-path: polygon(2% 44%, 19% 33%, 1% 24%, 19% 7%, 14% 21%, 38% 25%, 38% 38%, 95% 39%, 100% 100%, 21% 89%, 15% 96%);
  background-color: black;
  height: 250px;
  width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  left: 15px;
  top: 15px;
}

.dialogGreetings::before {
  clip-path: polygon(5% 45%, 23% 33%, 4% 24%, 19% 7%, 11% 22%, 36% 27%, 37% 41%, 93% 41%, 97% 98%, 20% 87%, 17% 92%);
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  z-index: 2;
}

.dialogGreetings::after {
  clip-path: polygon(8% 47%, 24% 33%, 6% 24%, 16% 11%, 9% 23%, 33% 28%, 36% 44%, 90% 42%, 95% 96%, 20% 84%, 18% 88%);
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  z-index: 2;
}

.greetingButton {
  clip-path: polygon(80% 10%, 77% 48%, 2% 44%, 0 7%);
  background-color: black;
  height: 90px;
  width: 110px;
  left: 31px;
  top: 65px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  transform: rotate(180deg);
  span {
    color: black;
    z-index: 18;
    text-align: center;
    top: -20px;
    left: -8px;
    position: relative;
    font-weight: 600;
  }
}
.greetingButton::before {
  clip-path: polygon(78% 12%, 76% 46%, 5% 42%, 1% 8%);
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
}
