@use '../../../themeVariables.module.scss';

.arrow {
  color: themeVariables.$mainText;
}

.arrowUp {
  transform: rotateX(180deg);
}

.arrowContainer {
  position: relative;
  margin-top: 30px;
  z-index: 3;
}

.arrowAnswerContainer {
  position: absolute;
  margin-top: 0;
  width: 52px;
  top: 245px;
  left: 310px;
  z-index: 3;
}

.arrowContainer:hover {
  cursor: pointer;
  .circle {
    animation: scaleIn 1s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
  }
}
.circle {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: inset 0px 0px 10px 10px themeVariables.$main, 0px 0px 10px 10px themeVariables.$main;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: 0;
}

@keyframes scaleIn {
  from {
    transform: scale(0.2, 0.2);
    opacity: 0.3;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
