@use '../../../responsiveStyles.module.scss';

.skillsList {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.skillsInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills {
  min-height: 100vh;
  padding: 0 10px;
  overflow-x: hidden;
}
