@use '../../../responsiveStyles.module.scss';
@use '../../../themeVariables.module.scss';

.skillsList {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.skillsInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0% 10%;
  align-items: center;
  position: relative;
  z-index: 3;
}
.skills {
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  h2 {
    padding-left: 20%;
    position: relative;
    z-index: 2;
  }
}

.skillsFrame {
  height: 150vh;
  width: 100%;
  position: relative;
  padding: 104px 17px 27px 22px;
}

.skillsFrame::before {
  clip-path: polygon(98% 4%, 98% 100%, 2% 98%, 2% 10%);
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  z-index: 2;
}

.skillsFrame::after {
  clip-path: polygon(97% 7%, 95% 96%, 6% 97%, 5% 15%);
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  z-index: 2;
}

.skillsText {
  background-color: white;
  color: black;
  clip-path: polygon(0% 5%, 1% 92%, 100% 99%, 100% 10%);
  padding: 0px 5px;
  width: 100%;
  margin-top: 25px;
}

.skillsList::after {
  content: '';
  width: 80%;
  height: 5px;
  background-color: white;
  display: block;
  margin-top: 15px;
}

.chosenSkillDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  h3 {
    margin: 0;
  }
  p {
    padding: 0 10px;
  }
}
