@use '../../../responsiveStyles.module.scss';

.skillInfo {
  border: 4px solid black;
  background-color: #203354;
  border-radius: 15px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  overflow: hidden;
  transition: background-color 0.5s ease-out;
}
.skillIcon {
  margin-top: 5px;
}
.skillName {
  font-weight: 600;
  font-size: 1rem;
  transform: translateY(50px);
  transition: all 0.3s;
}

.skillInfo:hover {
  .skillName {
    transform: translateY(0px);
  }
}
