@use '../../../responsiveStyles.module.scss';
@use '../../../themeVariables.module.scss';

.error {
  background-color: themeVariables.$main;
  padding: 25px 25px 15px;
  color: themeVariables.$error;
  border: 3px solid themeVariables.$error;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .errorHeader {
    font-size: 20px;
    color: themeVariables.$error;
  }
}
