.textContainer {
  color: white;
  position: relative;
  z-index: 3;
  height: 100%;
  width: 100%;
  font-weight: 600;
  padding-top: 131px;
  padding-left: 65px;
  padding-right: 34px;
  padding-bottom: 50px;
  overflow-wrap: break-word;
}
.text {
  overflow: hidden;
  margin-top: 0;
  height: 100%;
  scroll-behavior: smooth;
}

.textBoxVerticalVersion {
  clip-path: polygon(2% 44%, 19% 33%, 1% 24%, 19% 7%, 14% 21%, 38% 25%, 38% 38%, 95% 39%, 100% 100%, 21% 89%, 15% 96%);
  background-color: black;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -15px;
}

.textBoxVerticalVersion::before {
  clip-path: polygon(5% 45%, 23% 33%, 4% 24%, 19% 7%, 11% 22%, 36% 27%, 37% 41%, 93% 41%, 97% 98%, 20% 87%, 17% 92%);
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  z-index: 2;
}

.textBoxVerticalVersion::after {
  clip-path: polygon(8% 47%, 24% 33%, 6% 24%, 16% 11%, 9% 23%, 33% 28%, 36% 44%, 90% 42%, 95% 96%, 20% 84%, 18% 88%);
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  z-index: 2;
}
