@use '../../../responsiveStyles.module.scss';
@use '../../../themeVariables.module.scss';

.contact {
  min-height: 100vh;
  padding: 0 20%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: themeVariables.$third;
}
