@use '../../../responsiveStyles.module.scss';
@use '../../../themeVariables.module.scss';

.aboutPhoto {
  height: 400px;
  object-fit: contain;
  background-color: themeVariables.$second;
  position: relative;
  z-index: 1;
}
.aboutMe {
  min-height: 90vh;
  overflow-x: hidden;
  background-color: themeVariables.$second;
  position: relative;
}

.angle {
  width: 100%;
  background-color: themeVariables.$third;
  height: 100px;
  position: absolute;
  bottom: 0;
}

.angle::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: themeVariables.$second;
  clip-path: polygon(100% 100%, 100% 0, 0 0);
}

.aboutMainInfo {
  display: flex;
  flex-direction: row;
  padding: 0 10%;
}

.aboutTitle {
  align-self: flex-start;
  padding-left: 20%;
}

.outsideColor {
  position: absolute;
  top: -20px;
  left: 50px;
  width: 100%;
  transform: rotate(-10deg) scale(1.1);
  height: 100%;
  background-color: white;
}

.aboutText {
  position: relative;
  z-index: 1;
}

.textWrapper {
  position: relative;
  flex: 1.4;
}

.imgWrapper {
  flex: 0.6;
}
