@use '../../../responsiveStyles.module.scss';
@use '../../../themeVariables.module.scss';

.aboutPhoto {
  height: 400px;
  object-fit: contain;
  background-color: #699fa7;
  position: relative;
  z-index: 1;
  top: -20px;
  transform: rotate(10deg) scale(1.1);
}

.aboutMe {
  min-height: 90vh;
  overflow: hidden;
  background-color: themeVariables.$second;
  position: relative;
}

.angle {
  width: 100%;
  background-color: themeVariables.$third;
  height: 100px;
  position: absolute;
  bottom: 0;
}

.angle::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: themeVariables.$second;
  clip-path: polygon(100% 100%, 100% 0, 0 0);
}

.aboutMainInfo {
  display: flex;
}

.aboutTitle {
  align-self: flex-start;
  padding-left: 20%;
}

.aboutOutsideColor {
  position: absolute;
  top: -20px;
  width: 100%;
  transform: rotate(-10deg) scale(1.1);
  height: 100%;
  background-color: white;
}

.aboutText {
  position: relative;
  z-index: 1;
}

.textWrapper {
  position: relative;
  left: 1500px;
  flex: 1.4;
}

.imgWrapper {
  flex: 0.6;
  position: relative;
  z-index: 1;
  height: 400px;
}
.showFromLeft {
  transition: all 2s;
  animation: slideFromLeft 0.5s forwards;
  animation-delay: 1s;
}

.showFromRight {
  transition: all 2s;
  animation: slideFromRight 0.5s forwards;
  animation-delay: 0.5s;
}

.aboutOutsideColor2 {
  position: absolute;
  left: -50px;
  width: 100%;
  transform: rotate(10deg) scale(1.2);
  height: 100%;
  background-color: white;
  clip-path: polygon(12% 2%, 80% 0%, 80% 100%, 10% 95%);
}

@keyframes slideFromLeft {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(800px);
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(-1500px);
  }
}
