@use '../../../responsiveStyles.module.scss';
@use '../../../themeVariables.module.scss';

.aboutMe {
  min-height: 90vh;
  overflow: hidden;
  position: relative;
}

.aboutTitle {
  align-self: flex-start;
  padding-left: 20%;
}

.aboutFrame {
  height: 128vh;
  width: 100%;
  position: relative;
  padding: 104px 17px 27px 22px;
  top: -50px;
}

.aboutFrame::before {
  clip-path: polygon(98% 4%, 98% 100%, 2% 98%, 2% 10%);
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  z-index: 2;
}

.aboutFrame::after {
  clip-path: polygon(97% 7%, 95% 96%, 6% 97%, 5% 15%);
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  z-index: 2;
}

.aboutTextAnimated {
  position: relative;
  z-index: 3;
}

.aboutPhotoMobile {
  height: 180px;
  object-fit: contain;
  position: relative;
  width: 133px;
  z-index: 3;
  top: 10px;
}

.photoContainer {
  clip-path: polygon(98% 4%, 98% 100%, 2% 98%, 2% 10%);
  background-color: black;
  height: 220px;
  width: 300px;
  position: relative;
  margin-left: auto;
  display: flex;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.photoContainer::before {
  clip-path: polygon(85% 4%, 86% 99%, 15% 98%, 15% 7%);
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  z-index: 2;
}

.photoContainer::after {
  clip-path: polygon(83% 7%, 82% 96%, 17% 97%, 19% 15%);
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  z-index: 2;
}

.skipButton {
  clip-path: polygon(80% 10%, 77% 48%, 2% 44%, 0 7%);
  background-color: black;
  height: 125px;
  width: 121px;
  left: 245px;
  top: 667px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  transform: rotate(-20deg);
  span {
    color: black;
    z-index: 18;
    text-align: center;
    top: -28px;
    left: -8px;
    position: relative;
    font-weight: 600;
  }
}
.skipButton::before {
  clip-path: polygon(78% 12%, 76% 46%, 5% 42%, 1% 8%);
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
}

.skipButton:active {
  background-color: white;
  &::before {
    background-color: black;
  }
  span {
    color: white;
  }
}
