@use '../../../responsiveStyles.module.scss';
@use '../../../themeVariables.module.scss';

.home {
  position: relative;
  min-height: 100vh;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  background-image: url('../../../assets/imgs/b1.jpg');
  justify-content: center;
  align-items: center;
  color: white;

  li {
    line-height: 1.8rem;
    font-size: 1.2em;
  }
}
.myInfo {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photoContainer {
  border: 2px solid themeVariables.$main;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  img {
    object-fit: cover;
    height: 650px;
  }
}

.endPageGradient {
  width: 100%;
  height: 10vh;
  position: absolute;
  bottom: -2vh;
  background: linear-gradient(rgba(255, 255, 255, 0), themeVariables.$second 75%);
  z-index: 2;
}
