.Icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid black;
  overflow: hidden;
  position: relative;
  left: 65px;
  top: 20px;
}

.Icon::before {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 25px;
  border-radius: 50%;
  background-color: black;
  content: '';
}

.Icon::after {
  width: 85px;
  height: 85px;
  position: absolute;
  top: 46px;
  left: 4px;
  border-radius: 50%;
  background-color: black;
  content: '';
}

.guestIcon {
  left: 0;
  top: 62px;
}
