@media (min-width: 1601px) {
  .aboutMainInfo {
    padding: 0 15%;
  }
  .aboutOutsideColor2 {
    width: 100%;
    left: -50px;
    transform: rotate(10deg) scale(1.2);
    height: 100%;
  }
  .singleProject {
    margin: 50px 20% 0 20%;
  }
}
@media (max-width: 1600px) {
  .aboutOutsideColor2 {
    width: 90%;
    top: 10px;
    left: -10px;
    transform: rotate(10deg) scale(1.4);
    height: 90%;
  }
  .aboutMainInfo {
    padding: 0 5%;
  }
  .singleProject {
    margin: 10% 2% 0 2%;
  }
}
@media (max-width: 1400px) {
  .aboutOutsideColor2 {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .aboutOutsideColor2 {
    width: 110%;
  }
}
@media (min-width: 1201px) {
  .projectName {
    margin-top: 1.5em;
  }
}

@media (min-width: 1025px) {
  .projectTab {
    filter: grayscale(0.8);
    transition: all 0.6s;
    max-width: 900px;
    object-fit: contain;

    &:hover {
      filter: grayscale(0);
      transform: scale(1.1);
    }
  }
  .projectInfo {
    margin-top: 2.5rem;
  }
  .projectName {
    margin-top: 1.33em;
  }
  .myInfo {
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .aboutOutsideColor2 {
    width: 120%;
  }
  .projectName {
    margin-top: 5px;
  }
  .aboutMainInfo {
    padding: 0;
  }
  .myInfo {
    align-items: flex-start;
  }
  .projectTab {
    width: 100%;
  }
  .projectInfo {
    margin-top: 2rem;
  }
}

@media (min-width: 801px) {
  .aboutMainInfo {
    flex-direction: row;
  }
  .aboutOutsideColor2 {
    top: 25px;
  }
  .showFromRight {
    padding-top: 0px;
  }
  .skillsList {
    width: 50vw;
  }
  .skillsOutsideColor {
    top: -20px;
    transform: rotate(-10deg) scale(1.1);
  }
}

@media (max-width: 800px) {
  .aboutOutsideColor2 {
    width: 150%;
    top: 10px;
    left: -50px;
    transform: rotate(10deg) scale(1.2);
    height: 100%;
  }
  .aboutMainInfo {
    flex-direction: column;
    align-items: center;
  }
  .showFromRight {
    padding-top: 40px;
  }
  .skillsOutsideColor {
    top: -20px;
    transform: rotate(-10deg);
  }
  .skillsList {
    width: 80vw;
  }
}

@media (min-width: 481px) {
  h2 {
    font-size: 2.5rem;
  }
  .navbar {
    display: flex;
  }
  .hamburgerMenu {
    display: none;
  }
  .aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .aboutText {
    line-height: 160%;
    font-size: 1.2em;
    margin-left: 40px;
    margin-bottom: 80px;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aboutPhoto {
    display: inline-block;
    margin-top: 19.2px;
    margin-left: auto;
    margin-right: auto;
  }
  .skillIcon {
    width: 80px;
    height: 80px;
  }
  .skillName {
    font-size: 1rem;
  }
  .skillInfo {
    width: 120px;
    height: 120px;
  }
  .skillsText {
    width: 50vw;
    p {
      line-height: 2rem;
      font-size: 1.2rem;
    }
    h3 {
      font-size: 2rem;
    }
  }

  .contactForm {
    width: 70vw;
    margin-top: 50px;
  }
  .photoContainer {
    width: 500px;
    height: 500px;
  }

  .home {
    padding: 0 20%;
    top: 0;
  }
  .myInfo {
    align-items: center;
  }
  .aboutMainInfo {
    padding-top: 80px;
  }
  .showFromLeft {
    margin-top: 0px;
  }
  .imgWrapper {
    left: -800px;
  }
  .aboutOutsideColor2 {
    top: 10px;
  }
  .aboutOutsideColor {
    left: 50px;
    top: -20px;
    transform: rotate(-10deg) scale(1.1);
  }
  .showFromRight {
    padding-bottom: 0px;
  }
  .skillsOutsideColor {
    top: -20px;
  }
  .singleProjectOutsideColor {
    height: 100%;
  }
}
@media (max-width: 480px) {
  .navbar {
    display: none;
  }
  .hamburgerMenu {
    display: inline-block;
  }
  .contactForm {
    width: 80vw;
  }
  .skillIcon {
    width: 40px;
    height: 40px;
  }
  .skillName {
    font-size: 0.7rem;
    transform: translateY(12px);
  }
  .skillInfo {
    width: 50px;
    height: 50px;
  }
  .skillsText {
    width: 100%;
  }
  .skillsList {
    justify-content: center;
    padding: 0 5px;
    width: 100vw;
  }
  .skillsInfo {
    flex-direction: column;
  }
  .photoContainer {
    width: 350px;
    height: 350px;
  }
  h2 {
    font-size: 1.5rem;
  }
  .aboutMe {
    display: flex;
    flex-direction: column;
  }
  .aboutText {
    margin: 10px;
  }
  .home {
    padding: 0 5%;
    padding-top: 5%;
  }
  .myInfo {
    align-items: flex-start;
  }
  .aboutMainInfo {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
  }
  .showFromLeft {
    margin-top: 80px;
  }

  .imgWrapper {
    left: -785px;
  }
  .aboutOutsideColor2 {
    top: -10px;
  }
  .aboutOutsideColor {
    left: 0px;
    top: 82px;
    transform: rotate(-10deg) scale(1.22);
  }

  .showFromRight {
    padding-top: 40px;
    padding-bottom: 100px;
  }
  .skillsOutsideColor {
    top: 40px;
    transform: rotate(-10deg) scale(1.1);
  }
  .singleProject {
    margin: 10% 2% 0 2%;
  }
  .projectInfo {
    margin-top: 0;
  }
  .singleProjectOutsideColor {
    height: 120%;
  }
}
