@media (min-width: 1201px) {
  .projectName {
    margin-top: 1.5em;
  }
}

@media (min-width: 1024px) {
  .projectTab {
    filter: grayscale(0.8);
    transition: all 0.6s;

    &:hover {
      filter: grayscale(0);
      transform: scale(1.1);
    }
  }
  .projectName {
    margin-top: 1.33em;
  }
}

@media (max-width: 1024px) {
  .projectName {
    margin-top: 5px;
  }
}

@media (min-width: 481px) {
  h2 {
    font-size: 2.5rem;
  }
  .navbar {
    display: flex;
  }
  .hamburgerMenu {
    display: none;
  }
  .aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutText {
    line-height: 160%;
    font-size: 1.2em;
    margin-left: 30px;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aboutPhoto {
    display: inline-block;
    margin-top: 19.2px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 15px 5px black;
  }
  .skillIcon {
    width: 80px;
    height: 80px;
  }
  .skillInfo {
    width: 120px;
    height: 120px;
  }
  .skillsText {
    width: 50vw;
  }
  .skillsList {
    width: 50vw;
  }
  .skillsInfo {
    flex-direction: row;
  }
  .contactForm {
    width: 70vw;
    margin-top: 50px;
  }
  .photoContainer {
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 480px) {
  .navbar {
    display: none;
  }
  .hamburgerMenu {
    display: inline-block;
  }
  .contactForm {
    width: 80vw;
  }
  .skillIcon {
    width: 60px;
    height: 60px;
  }
  .skillInfo {
    width: 100px;
    height: 100px;
  }
  .skillsText {
    width: 100%;
  }
  .skillsList {
    justify-content: center;
    padding: 0;
    width: 100%;
  }
  .skillsInfo {
    flex-direction: column;
  }
  .photoContainer {
    width: 350px;
    height: 350px;
  }
  h2 {
    font-size: 1.5rem;
  }
  .aboutMe {
    display: flex;
    flex-direction: column;
  }
  .aboutText {
    margin: 10px;
  }
}
