/* Colors */

$white: #ffffff;
$black: #111111;
$lightGrey: #f7f8fa;
$grey: #c0c7d6;
$darkGrey: #737c8e;
$borderGrey: #dfe2e8;
$darkPurple: #c0c7d6;
$lightPurple: #eceff7;
$warning: #e1d888;

$error: rgb(160, 53, 53);
$success: #8fcb81;
$main: #ffff;
$second: #699fa7;
$third: #afafaf;
$footer: $black;
$mainText: white;
$secondaryText: #ccc; //animated text
$skillIcon: black;
$skillBg: #699fa7;
$skillBorder: black;
$navBg: black;
$navUnderline: red;
